@{
    ViewData["Title"] = "Log out";
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <meta http-equiv="refresh" content="5; url=https://localhost:44331/Login">
</head>

<body>
    <div><img src="~/images/bye.gif" height="500" width="1000"></div>
</body>
</html>

