@model ChallengeClub.Models.AttendanceModel;
@{
    ViewData["Title"] = "Attendance";
}

<div id="body">
    @foreach (var item in Model.MemberAttendance)
    {
    <h3><a asp-controller="EmployeeDashboardHome" asp-action="EmployeeDashboardHome">@item.Name</a></h3>

    }

</div>


