@model ChallengeClub.Models.AttendanceModel;
@{
    ViewData["Title"] = "Attendance";
}

    <h2 id="body"></h2>



    <script>
  function Display(name)
   {
        var text = document.createTextNode(name);
        var b = document.createElement("br");
        document.getElementById("body").appendChild(text);
        document.getElementById("body").appendChild(b);

    }

    </script>


@foreach (var item in Model.MemberAttendance)
    {
        <script>Display("@item.Name");</script>
    }