@model ChallengeClub.Models.EmployeeActivityDefinition;

@{
    ViewData["Title"] = "Daily Activities";
}

<style>
    button {
        border-radius: 10px;
        width: 20%;
        height: 100px;
    }
</style>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<div id="activities" class="col-md-9">

    <div>

        <h2>Choose Today's Activities</h2>
        <h5>To select an activity, click on it.</h5>
        <h5>To deselect an activity, click on the corresponding button in the "Selected Activities" area below.</h5>
        <h5>To add a new activity, click activities to make them available today or click "+ Add Activity".</h5>
        <hr /><br />

        <style>
            #myDIV {
                margin-bottom: 10px;
            }
        </style>
        <p id="date"></p>
        <div id="body"></div><br /><br /><hr />
        <h3>Selected Activities</h3>
        <div id="selectedArea"></div>
        <br /><hr />




        <button type="button" style="height:50px; background-color:#030B85" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add Activity</button>
        <button type="button" style="height:50px; background-color:#030B85" class="btn btn-info btn-lg" data-toggle="modal" onclick="submitSelected()" data-target="#confirmActivities">Submit</button>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">

                        <h2 class="modal-title">Add Activity</h2>
                    </div>
                    <form method="post" onsubmit="setTimeout(function(){window.location.reload();},10)">
                        <div class="modal-body">
                            <span class="error_message">@ViewBag.Error</span>

                            <h3>Name: </h3>
                            <input type="text" name="activityName" required /><br />
                            <h3>Hours: </h3>
                            <input type="text" name="activityHours" required /><br />
                            <h3>Description: </h3>
                            <textarea name="activityDescription" style="width:400px;height:200px"></textarea><br /><br />

                        </div>
                        <div class="modal-footer">
                            <input type="submit" style="width:10%;height:50px;" class="btn btn-default" name="activitySubmit"></input>
                            <button type="button" style="width:10%;height:50px;" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmActivities" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">


                    </div>
                    <form>
                        <div class="modal-body" id="confirmBody">
                            <h3 id="yesMsg1"></h3>
                            <div id="noMsg"></div>
                            <div id="activitiesArea"></div>
                            <h3 id="yesMsg2"></h3>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" id="confirmButton1" style="width:10%;height:50px;" class="btn btn-default" data-dismiss="modal"></input>
                            <button id="confirmButton2" type="button" style="width:10%;height:50px;" class="btn btn-default" data-dismiss="modal"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</html>

<script>
    function makeButton(name, hrs, description) {
        var i = false
        var button = document.createElement("BUTTON");
        var space = document.createTextNode(" ");
        button.setAttribute("id", name);
        var text1 = name;
        var text2 = hrs + " Hours";
        var b = document.createElement("br");
        var t1 = document.createTextNode(text1);
        var t2 = document.createTextNode(text2);
        button.appendChild(t1);
        button.appendChild(b);
        button.appendChild(t2);
        document.getElementById("body").appendChild(button);
        document.getElementById("body").appendChild(space);
        button.style.borderColor = "black";
        button.style.borderWidth = "1px";
        document.getElementById(name).addEventListener("click", select(name, hrs, i));
    }
    function select(name, hrs, i, description) {
        return function (e) {
            if (i == false) {
                document.getElementById(name).style.borderColor = "#03EFFA";
                document.getElementById(name).style.borderWidth = "5px";
                var button1 = document.createElement("BUTTON");
                var div1 = document.createElement("DIV");
                var nameSelected = name + "_selected";
                button1.setAttribute("id", nameSelected);
                div1.setAttribute("id", nameSelected);
                div1.setAttribute("class", "events");
                div1.style.backgroundColor = "lightblue";
                div1.style.width = "20%";
                div1.style.height = "30%";
                div1.style.borderRadius = "10px";
                div1.style.textAlign = "center";
                var text1 = name;
                var text2 = hrs + " Hours";
                var b = document.createElement("br");
                var t01 = document.createTextNode(text1);
                var t02 = document.createTextNode(text2);
                var b2 = document.createElement("br");
                var t11 = document.createElement("input");
                t11.readOnly = true;
                t11.setAttribute("value", text1);
                t11.setAttribute("name", "queryName");
                t11.setAttribute("style", "background-color: lightblue");
                var t12 = document.createElement("input");
                t12.readOnly = true;
                t12.setAttribute("value", text2);
                t12.setAttribute("style", "background-color: lightblue");
                var b3 = document.createElement("br");
                b3.setAttribute("id", "break");
                button1.appendChild(t01);
                button1.appendChild(b);
                button1.appendChild(t02);
                div1.appendChild(t11);
                div1.appendChild(b2);
                div1.appendChild(t12);
                button1.style.borderColor = "black";
                button1.style.borderWidth = "1px";
                document.getElementById("selectedArea").appendChild(button1);
                document.getElementById("activitiesArea").appendChild(div1);
                document.getElementById("activitiesArea").appendChild(b3);
                i = true;
                document.getElementById(nameSelected).addEventListener("click", deselect(name, hrs, i, description));
            }
        }
    }
    function deselect(name, hrs, i, description) {
        return function (e) {
            var nameSelected = name + "_selected";
            document.getElementById(name).style.borderColor = "black";
            document.getElementById(name).style.borderWidth = "1px";
            parent1 = document.getElementById("selectedArea");
            parent2 = document.getElementById("activitiesArea");
            parent1.removeChild(document.getElementById(nameSelected));
            parent2.removeChild(document.getElementById(nameSelected));
            parent2.removeChild(document.getElementById("break"));
            i = false;
            document.getElementById(name).addEventListener("click", select(name, hrs, i, description));
        }
    }
    function submitSelected() {
        if (document.getElementById("selectedArea").hasChildNodes()) {
            document.getElementById("noMsg").innerHTML = "";
            document.getElementById("confirmButton1").innerHTML = "Yes";
            document.getElementById("confirmButton2").innerHTML = "No";
            var yesMsg1 = "These are the activites you have selected for today:";
            document.getElementById("yesMsg1").innerHTML = yesMsg1;
            var yesMsg2 = "Are you sure you want these activities for today?";
            document.getElementById("yesMsg2").innerHTML = yesMsg2;
            var b = document.createElement("br");
        }
        else {
            document.getElementById("yesMsg1").innerHTML = "";
            document.getElementById("yesMsg2").innerHTML = "";
            document.getElementById("confirmButton1").innerHTML = "Home";
            document.getElementById("confirmButton2").innerHTML = "Cancel";
            var noMsg = "You have not chosen any activities.";
            document.getElementById("noMsg").innerHTML = noMsg;
            document.getElementById("noMsg").style.fontSize = "large";
        }
    }
</script>
<br />
@foreach (var item in ViewBag.Activities)
{
    <script>makeButton("@item.Name",@item.Hours,"@item.Description")</script>
}
