@model ChallengeClub.Models.Account;

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
</head>

<body>

    <div><img src="~/images/club_logo.png" style="width:30%" alt="challenge club logo"></div>

    <h3>Please enter your User Name and Password : </h3><br>
    <h3>User Name: </h3>
    <input type="text" size="20"><br>
    <h3>Password: </h3>
    <input type="text" size="20">
    <br>
    <br>
    <br>
    <a asp-controller="Login" asp-action="Index" class="btn btn-lg btn-danger" role="button">Login</a>

</body>
</html>