@model ChallengeClub.Models.Account;

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
</head>

<body>

    <div><img src="~/images/club_logo.png" style="width:30%" alt="challenge club logo"></div>
    <form>
        <h3>Please enter your User Name and Password : </h3><br>
        <h3>User Name: </h3>
        <input name="employee_username" type="text" size="20"><br>
        <h3>Password: </h3>
        <input name="employee_password" type="password" size="20">
        <br /><br /><br />
    <button type="submit" asp-controller="EmployeeDashboardHome" asp-action="EmployeeDashboardHome" class="btn btn-lg btn-danger" role="button">Login</button>
    </form>
</body>
</html>