@model ChallengeClub.Models.Account;

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Login.css" />

    <script src="~/js/login.js"></script>
    <script>
        var memberNumber = "";

        function insert(num) {
            document.loginForm.MemberId.value = document.loginForm.MemberId.value + num;

        }

        function back() {
            var exp = document.loginForm.MemberId.value;
            document.loginForm.MemberId.value = exp.substring(0, exp.length - 1);
        }
    </script>
</head>

<body>

    <div><img src="~/images/club_logo.png" style="width:30%" alt="challenge club logo"></div>

    <div class="employee_login"><a asp-controller="Account" asp-action="Login"><h3><b>Employee Login</b></h3></a></div>

    <div class="employee_login"><a asp-controller="EmployeeLogin" asp-action="Index"><h3><b>Employee Login</b></h3></a></div>

    <form class="input-area" name="loginForm" id="loginForm" method="post">
        <h3>Please enter your 4 digits Login number : </h3><br>
        <input class="login-input" type="text" name="MemberId" id="MemberId" size="25" required><br>
        <span class="login_error">@ViewBag.Error</span>
        <div class="grid-container">
            <input class="number-button" type="button" value="  1  " onclick="insert(1)">
            <input class="number-button" type="button" value="  2  " onclick="insert(2)">
            <input class="number-button" type="button" value="  3  " onclick="insert(3)">

            <input class="number-button" type="button" value="  4  " onclick="insert(4)">
            <input class="number-button" type="button" value="  5  " onclick="insert(5)">
            <input class="number-button" type="button" value="  6  " onclick="insert(6)">

            <input class="number-button" type="button" value="  7  " onclick="insert(7)">
            <input class="number-button" type="button" value="  8  " onclick="insert(8)">
            <input class="number-button" type="button" value="  9  " onclick="insert(9)">

            <input class="del-button" type="button" value="Delete" onclick="back()">
            <input class="number-button" type="button" value="  0  " onclick="insert(0)">
            <input class="enter-button" type="submit" value="Enter" onclick="login()">
        </div>
    </form>
</body>
</html>