
@{
    ViewData["Title"] = "Quarterly Report";
}
<head>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        td{
            width:16%;
            text-align:center;
        }
    </style>
</head>


<table border="1" style="background-color:#C1CCEB">
    <tr>
        PERFORMANCE REPORT
    </tr>
    <tr>
        <td>Month</td>
        <td>Total # of Members Enrolled</td>
        <td>Total # of Active Members</td>
        <td># of Active Members with Advocacy Goals</td>
        <td># of Members Participating in Advocacy Training</td>
        <td>Percentage</td>
    </tr>
    <tr>
        <td id="quarterlyAdvocacyDate1">April, 2018</td>
        <td id="quarterlyAdvocacyEnrolled1">April, 2018</td>
        <td id="quarterlyAdvocacyActive1">April, 2018</td>
        <td id="quarterlyAdvocacyGoals1">April, 2018</td>
        <td id="quarterlyAdvocacyTraining1">April, 2018</td>
        <td id="quarterlyAdvocacyPercent1">April, 2018</td>
    </tr>
    <tr>
        <td id="quarterlyAdvocacyDate2">May, 2018</td>
        <td id="quarterlyAdvocacyEnrolled2">April, 2018</td>
        <td id="quarterlyAdvocacyActive2">April, 2018</td>
        <td id="quarterlyAdvocacyGoals2">April, 2018</td>
        <td id="quarterlyAdvocacyTraining2">April, 2018</td>
        <td id="quarterlyAdvocacyPercent2">April, 2018</td>
    </tr>
    <tr>
        <td id="quarterlyAdvocacyDate3">June, 2018</td>
        <td id="quarterlyAdvocacyEnrolled3">April, 2018</td>
        <td id="quarterlyAdvocacyActive3">April, 2018</td>
        <td id="quarterlyAdvocacyGoals3">April, 2018</td>
        <td id="quarterlyAdvocacyTraining3">April, 2018</td>
        <td id="quarterlyAdvocacyPercent3">April, 2018</td>
    </tr>
</table><br />
<table border="1" style="background-color:#BABCC1">
    <tr>
        <td>Month</td>
        <td>Total # of Members Enrolled</td>
        <td>Total # of Active Members</td>
        <td># of Active Members with Advocacy Goals</td>
        <td># of Members Participating in Advocacy Training</td>
        <td>Percentage</td>
    </tr>

    <tr>
        <td id="quarterlyJobDate1">April, 2018</td>
        <td id="quarterlyJobEnrolled1">April, 2018</td>
        <td id="quarterlyJobActive1">April, 2018</td>
        <td id="quarterlyJobGoals1">April, 2018</td>
        <td id="quarterlyJobTraining1">April, 2018</td>
        <td id="quarterlyJobPercent1">April, 2018</td>
    </tr>
    <tr>
        <td id="quarterlyJobDate2">April, 2018</td>
        <td id="quarterlyJobEnrolled2">April, 2018</td>
        <td id="quarterlyJobActive2">April, 2018</td>
        <td id="quarterlyJobGoals2">April, 2018</td>
        <td id="quarterlyJobTraining2">April, 2018</td>
        <td id="quarterlyJobPercent2">April, 2018</td>
    </tr>
    <tr>
        <td id="quarterlyJobDate3">April, 2018</td>
        <td id="quarterlyJobEnrolled3">April, 2018</td>
        <td id="quarterlyJobActive3">April, 2018</td>
        <td id="quarterlyJobGoals3">April, 2018</td>
        <td id="quarterlyJobTraining3">April, 2018</td>
        <td id="quarterlyJobPercent3">April, 2018</td>
    </tr>

</table><br />
<table border="1" style="background-color:#C1CCEB">
    <tr>
        <td>Month</td>
        <td>Total # of Members Enrolled</td>
        <td>Total # of Active Members</td>
        <td># of Active Members with Advocacy Goals</td>
        <td># of Members Participating in Advocacy Training</td>
        <td>Percentage</td>
    </tr>

    <tr>
        <td id="quarterlySocialDate1">April, 2018</td>
        <td id="quarterlySocialEnrolled1">April, 2018</td>
        <td id="quarterlySocialActive1">April, 2018</td>
        <td id="quarterlySocialGoals1">April, 2018</td>
        <td id="quarterlySocialTraining1">April, 2018</td>
        <td id="quarterlySocialPercent1">April, 2018</td>
    </tr>
    <tr>
        <td id="quarterlySocialDate2">April, 2018</td>
        <td id="quarterlySocialEnrolled2">April, 2018</td>
        <td id="quarterlySocialActive2">April, 2018</td>
        <td id="quarterlySocialGoals2">April, 2018</td>
        <td id="quarterlySocialTraining2">April, 2018</td>
        <td id="quarterlySocialPercent2">April, 2018</td>
    </tr>
    <tr>
        <td id="quarterlySocialDate3">April, 2018</td>
        <td id="quarterlySocialEnrolled3">April, 2018</td>
        <td id="quarterlySocialActive3">April, 2018</td>
        <td id="quarterlySocialGoals3">April, 2018</td>
        <td id="quarterlySocialTraining3">April, 2018</td>
        <td id="quarterlySocialPercent3">April, 2018</td>
    </tr>

</table><br />
        <table border="1" style="background-color:#BABCC1">
            <tr>
                <td>Month</td>
                <td>Total # of Members Enrolled</td>
                <td>Total # of Active Members</td>
                <td># of Active Members with Advocacy Goals</td>
                <td># of Members Participating in Advocacy Training</td>
                <td>Percentage</td>
            </tr>

            <tr>
                <td id="quarterlyAbusedDate1">April, 2018</td>
                <td id="quarterlyAbusedEnrolled1">April, 2018</td>
                <td id="quarterlyAbusedActive1">April, 2018</td>
                <td id="quarterlyAbusedGoals1">April, 2018</td>
                <td id="quarterlyAbusedTraining1">April, 2018</td>
                <td id="quarterlyAbusedPercent1">April, 2018</td>
            </tr>
            <tr>
                <td id="quarterlyAbusedDate2">April, 2018</td>
                <td id="quarterlyAbusedEnrolled2">April, 2018</td>
                <td id="quarterlyAbusedActive2">April, 2018</td>
                <td id="quarterlyAbusedGoals2">April, 2018</td>
                <td id="quarterlyAbusedTraining2">April, 2018</td>
                <td id="quarterlyAbusedPercent2">April, 2018</td>
            </tr>
            <tr>
                <td id="quarterlyAbusedDate3">April, 2018</td>
                <td id="quarterlyAbusedEnrolled3">April, 2018</td>
                <td id="quarterlyAbusedActive3">April, 2018</td>
                <td id="quarterlyAbusedGoals3">April, 2018</td>
                <td id="quarterlyAbusedTraining3">April, 2018</td>
                <td id="quarterlyAbusedPercent3">April, 2018</td>
            </tr>


        </table>

