
@{
    ViewData["Title"] = "Quarterly Report";
}
<head>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        td {
            width: 16%;
            text-align: center;
            vertical-align: bottom;
        }
    </style>
</head>

<h4> PERFORMANCE REPORT</h4>

<table border="1" style="background-color:#C1CCEB">

    <tr>
        <td>Month</td>
        <td>Total # of Members Enrolled</td>
        <td>Total # of Active Members</td>
        <td># of Active Members with Advocacy Goals</td>
        <td># of Members Participating in Advocacy Training</td>
        <td>Percentage</td>
    </tr>
    <tr>
        <td id="quarterlyAdvocacyDate1">January</td>
        <td id="quarterlyAdvocacyEnrolled1">35</td>
        <td id="quarterlyAdvocacyActive1">25</td>
        <td id="quarterlyAdvocacyGoals1">11</td>
        <td id="quarterlyAdvocacyTraining1">13</td>
        <td id="quarterlyAdvocacyPercent1">118%</td>
    </tr>
    <tr>
        <td id="quarterlyAdvocacyDate2">February</td>
        <td id="quarterlyAdvocacyEnrolled2">37</td>
        <td id="quarterlyAdvocacyActive2">30</td>
        <td id="quarterlyAdvocacyGoals2">11</td>
        <td id="quarterlyAdvocacyTraining2">14</td>
        <td id="quarterlyAdvocacyPercent2">127%</td>
    </tr>
    <tr>
        <td id="quarterlyAdvocacyDate3">March</td>
        <td id="quarterlyAdvocacyEnrolled3">43</td>
        <td id="quarterlyAdvocacyActive3">33</td>
        <td id="quarterlyAdvocacyGoals3">9</td>
        <td id="quarterlyAdvocacyTraining3">19</td>
        <td id="quarterlyAdvocacyPercent3">211%</td>
    </tr>
</table><br />
<table border="1" style="background-color:#BABCC1">
    <tr>
        <td>Month</td>
        <td>Total # of Members Enrolled</td>
        <td>Total # of Active Members</td>
        <td># of Active Members with Job Skills Goals</td>
        <td># of Members Participating in Job Skills Training</td>
        <td>Percentage</td>
    </tr>

    <tr>
        <td id="quarterlyJobDate1">January</td>
        <td id="quarterlyJobEnrolled1">35</td>
        <td id="quarterlyJobActive1">25</td>
        <td id="quarterlyJobGoals1">18</td>
        <td id="quarterlyJobTraining1">19</td>
        <td id="quarterlyJobPercent1">106%</td>
    </tr>
    <tr>
        <td id="quarterlyJobDate2">February</td>
        <td id="quarterlyJobEnrolled2">37</td>
        <td id="quarterlyJobActive2">30</td>
        <td id="quarterlyJobGoals2">16</td>
        <td id="quarterlyJobTraining2">20</td>
        <td id="quarterlyJobPercent2">125%</td>
    </tr>
    <tr>
        <td id="quarterlyJobDate3">March</td>
        <td id="quarterlyJobEnrolled3">43</td>
        <td id="quarterlyJobActive3">33</td>
        <td id="quarterlyJobGoals3">23</td>
        <td id="quarterlyJobTraining3">22</td>
        <td id="quarterlyJobPercent3">96%</td>
    </tr>

</table><br />
<table border="1" style="background-color:#C1CCEB">
    <tr>
        <td>Month</td>
        <td>Total # of Members Enrolled</td>
        <td>Total # of Active Members</td>
        <td># of Active Members with Social Goals</td>
        <td># of Members Participating in Social Training</td>
        <td>Percentage</td>
    </tr>

    <tr>
        <td id="quarterlySocialDate1">January</td>
        <td id="quarterlySocialEnrolled1">35</td>
        <td id="quarterlySocialActive1">25</td>
        <td id="quarterlySocialGoals1">35</td>
        <td id="quarterlySocialTraining1">35</td>
        <td id="quarterlySocialPercent1">100%</td>
    </tr>
    <tr>
        <td id="quarterlySocialDate2">February</td>
        <td id="quarterlySocialEnrolled2">37</td>
        <td id="quarterlySocialActive2">30</td>
        <td id="quarterlySocialGoals2">37</td>
        <td id="quarterlySocialTraining2">37</td>
        <td id="quarterlySocialPercent2">100%</td>
    </tr>
    <tr>
        <td id="quarterlySocialDate3">March</td>
        <td id="quarterlySocialEnrolled3">43</td>
        <td id="quarterlySocialActive3">33</td>
        <td id="quarterlySocialGoals3">43</td>
        <td id="quarterlySocialTraining3">43</td>
        <td id="quarterlySocialPercent3">100%</td>
    </tr>

</table><br />
<table border="1" style="background-color:#BABCC1">
    <tr>
        <td>Month</td>
        <td>Total # of Members Enrolled</td>
        <td>Total # of Active Members</td>
        <td># of Members Not Abused</td>
        <td></td>
        <td>Percentage</td>
    </tr>

    <tr>
        <td id="quarterlyAbusedDate1">January</td>
        <td id="quarterlyAbusedEnrolled1">35</td>
        <td id="quarterlyAbusedActive1">25</td>
        <td id="quarterlyAbusedGoals1">35</td>
        <td id="blank1"></td>
        <td id="quarterlyAbusedPercent1">100%</td>
    </tr>
    <tr>
        <td id="quarterlyAbusedDate2">February</td>
        <td id="quarterlyAbusedEnrolled2">37</td>
        <td id="quarterlyAbusedActive2">30</td>
        <td id="quarterlyAbusedGoals2">37</td>
        <td id="blank2"></td>
        <td id="quarterlyAbusedPercent2">100%</td>
    </tr>
    <tr>
        <td id="quarterlyAbusedDate3">March</td>
        <td id="quarterlyAbusedEnrolled3">43</td>
        <td id="quarterlyAbusedActive3">33</td>
        <td id="quarterlyAbusedGoals3">43</td>
        <td id="blank3"></td>
        <td id="quarterlyAbusedPercent3">100%</td>
    </tr>


</table>

