@{
    ViewData["Title"] = "Welcome";
}
<html>
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Style2.css" />
</head>

<body>
    <div class="welcome_header">
        <span class="welcome_header">John, </span>
        <span class="welcome_header">Welcome to Challenge Club ! </span>
    </div>
    <div class="havefun">
        <img src="~/images/fun.gif">
    </div>
</body>
</html>
