@{
    ViewData["Title"] = "Employee Dashboard";
}



<div id="mainContent" class="col-md-9">

    <img src="~/images/ClubChallengeLogo.jpg" style="width:850px;height:400px" />
    <h3>To navigate the dashboard, use the links to the left.</h3>
</div>



