@{
    ViewData["Title"] = "Employee Dashboard";
}



<div id="mainContent" class="col-md-9">

    <img src="~/images/club_logo.png" style="width:100%;height:100%" />
    <h3>To navigate the dashboard, use the links to the left.</h3>
</div>



