<!DOCTYPE html>



<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - ChallengeClub</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" 
asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" 
asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>

        <div style="color:white" class="col-md-3">
            <div style="background-color:#234066" class="row">
                <h1> Club Challenge</h1>
            </div>
            <div style="background-color:#192c45" class="row">

                <h2> Members</h2>
                <ul>
                    <li><a onclick="HomeController.Login()" href="#">List of Members</a></li>
                    <li><a onclick="redirect('b')" href="#">Add New Members</a></li>
                    <li><a onclick="redirect('c')" href="#">Attendance</a></li>
                    <li><a onclick="redirect('c')" href="#">Edit Member Activity</a></li>
                </ul>

                <h2> Calendar</h2>
                <ul>
                    <li><a onclick="href='/Home/Activities'">Daily Activities</a></li>
                    <li><a onclick="redirect('e')" href="#">Monthly Events</a></li>
                    <li><a onclick="redirect('f')" href="#">Attendance</a></li>
                </ul>

                <h2> Reports</h2>
                <ul>
                    <li><a onclick="redirect('g')" href="#">Daily Reports</a></li>
                    <li><a onclick="redirect('h')" href="#">Monthly Reports</a></li>
                    <li><a onclick="redirect('i')" href="#">Quarterly Reports</a></li>

                </ul>
                <br />
                <ul>
                    <li><a onclick="href='/Home'">Home</a></li>
                </ul>
            </div>
            <div style="background-color: #192c45;color:#192c45" class="row">
                x<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

            </div>
        </div>

        <body>
    <div class="container body-content">
                @RenderBody()

                <footer style="text-align:right">
              <br /><br /><br /><br /><br /><br /><br />
                <hr />      <h4><a href="/Home/Login">Logout</a></h4>
                </footer>
            </div>



            @RenderSection("Scripts", required: false)

</body>
